<template name="redeemCredits">
    <p class="lead">Current credits available: {{currentUser.profile.credits}}</p>
    <br>
    <br>

    <br>

    <div id="items" style="padding-top:20px;">
        {{#if dataReady}}
            {{#each group in items}}
                <div class="row purchase-item-row">
                    {{#each group.items}}
                        {{> purchasableItem}}
                    {{/each}}
                </div>
            {{else}}
                No items are currently available for purchase. Try again later
            {{/each}}
        {{else}}
            {{> spinner}}
        {{/if}}
    </div>

</template>

<template name="purchasableItem">
    <div class="col-md-4 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 col">
        <div class="panel panel-default">
            <div class="panel-body" style="height: 400px; min-height: 400px; max-height: 400px; overflow-y: scroll;">

                <!-- Image -->
                <div class="row">
                    <div class="col-md-10 col-xs-10 col-xs-offset-1">
                        <img src="{{image}}" style="height:200px; width:100%; object-fit:contain;">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 col-xs-7">
                        <h4>{{name}}</h4>
                    </div>

                    <div class="col-md-5 col-xs-5">
                        <h4>
                            <label>{{cost}} Credits</label>
                        </h4>
                    </div>
                </div>
                {{#if $gt stock 15}}
                    <p class="bold text-success">{{stock}} in stock</p>
                {{else}} {{#if $gt stock 0}}
                    <p class="bold text-warning">Only {{stock}} left in stock</p>
                {{else}}
                    <p class="bold text-danger">Out of stock</p>
                {{/if}}{{/if}}

                <p id="desc">{{desc}}</p>
                <p>Sponsored by: {{sponsor}}</p>


                <!--<div class="row">
                </div>-->
            </div>
            <div class="panel-footer">
                <div class="col-md-6 col-xs-6">
                    <a href="{{website}}" target="_blank" class="btn btn-primary btn-block btn-outline" style="width:100%"> <span class="fa fa-info-circle"></span> More info</a>
                </div>
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="btn btn-success btn-purchase btn-block btn-outline" data-item="{{name}}" data-id="{{_id}}" data-credits={{cost}} style="width:100%" {{disabled}}> <span class="fa fa-shopping-cart"></span> Purchase</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>