<template name="organizationDashboard">
    <div>
        <h1>
            Organization Dashboard
        </h1>
        <hr>
    </div>
    <p class="lead">Welcome, {{currentUser.profile.name}}</p>
    <br>
    <div class="row">
        {{#if isInRole 'organization_admin,organization_validate'}}
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{numRequests}}</div>
                                <div>Credit Validation Requests</div>
                            </div>
                        </div>
                    </div>
                    <a href="/organization/validate">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="row">
        {{#if isInRole 'organization_admin'}}
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-users fa-fw"></i> Users in your organization
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            {{#each users}}
                                {{> organizationDashboardUser}}
                            {{else}}
                                <a href="/organization/accounts" class="list-group-item">
                                    <span>None</span>
                                </a>
                            {{/each}}
                        </div>
                        <a href="/organization/accounts" class="btn btn-default btn-block">More</a>
                    </div>
                </div>
            </div>
        {{/if}}


        {{#if isInRole 'organization_admin,organization_opportunities'}}
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-map-marker fa-fw"></i> Volunteer opportunities
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            {{#each opportunities}}
                                {{> organizationDashboardOpportunity}}
                            {{else}}
                                <a href="/organization/opportunities" class="list-group-item">
                                    <span>None</span>
                                </a>
                            {{/each}}
                        </div>
                        <a href="/organization/opportunities" class="btn btn-default btn-block">More</a>
                    </div>
                </div>
            </div>
        {{/if}}


        {{#if isInRole 'organization_admin,organization_validate'}}
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-check fa-fw"></i> Validation requests
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            {{#each requests}}
                                {{> organizationDashboardRequest}}
                            {{else}}
                                <a href="/organization/validate" class="list-group-item">
                                    <span>None</span>
                                </a>
                            {{/each}}
                        </div>
                        <a href="/organization/validate" class="btn btn-default btn-block">More</a>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</template>

<template name="organizationDashboardUser">
    <a href="/organization/accounts#{{id}}" class="list-group-item">
        <span>{{name}}</span>
        <span class="text-muted"><em>{{email}}</em></span>
    </a>
</template>

<template name="organizationDashboardOpportunity">
    <a href="/organization/opportunities#{{id}}" class="list-group-item">
        <span>{{name}}</span>
        <span class="pull-right text-muted"><em>{{date}}</em></span>
    </a>
</template>

<template name="organizationDashboardRequest">
    <a href="/organization/validate#{{id}}" class="list-group-item">
        <span>{{opportunity}}</span>
        <span class="pull-right text-muted"><em>{{name}}</em></span>
    </a>
</template>