<template name="organizationAccounts">
    <div>
        <h1>
            Accounts
            <small>All users in your organization</small>
        </h1>
        <hr>
    </div>

    <a type="button" class="btn btn-default btn-circle" href="#" id="refresh"><i class="fa fa-refresh"></i></a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">Add User</button>
    <div id="table-responsive-xs" class="organization-accounts-table">
        {{> reactiveTable settings=accountsTable}}
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="addUserModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add user to organization</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="invalid-email" role="alert" style="display:none;">
                        Please enter a valid email address.
                    </div>
                    <br>
                    <form class="form-horizontal" data-toggle="validator">

                        <ol>
                            <li>Ask the user to go to <a href="http://localhost:3000/sign-up">http://localhost:3000/sign-up</a> and create an account</li>
                            <li>Once they have created an account, they should click the "Log out" button in the top right corner</li>
                            <li>
                                Enter the user's email address below:
                                <div id="emailGroup" class="form-group has-feedback" style="width: 70%">
                                    <input type="email" class="form-control input-sm" id="email">
                                    <i id="feedbackIcon" class="fa form-control-feedback"></i>
                                </div>
                            </li>
                            <li>Click the blue "Add User" button below</li>
                        </ol>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary add-btn" data-dismiss="modal" disabled>Add User</button>
                </div>
            </div>
        </div>
    </div>
</template>