<template name="organizationSettings">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="at-form">

                <div class="at-title">
                    <h3>Organization Settings</h3>
                </div>

                <div class="at-pwd-form">
                    <form class="ui large form" action="#" id="changesForm">

                        <div class="at-input field">
                            <label>Organization Name</label> (This is used to search/identify your organization)
                            <input class="form-control" id="name" type="text">
                        </div>
                        <br>
                        <div class="at-input field">
                            <label>Organization Website</label>
                            <input class="form-control" id="website" type="text">
                        </div>
                        <br>
                        <br>
                        <button id="save" class="at-btn submit btn btn-lg btn-block btn-default" type="submit">
                            Save Changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>