<template name="requestCredits">
    <form class="form-horizontal" id="request-form">

        <div class="form-group" id="organization">
            <label class="col-sm-3 control-label">
                Where did you volunteer?
            </label>
            <div class="col-sm-4">
                <select class="form-control" id="organizationSelect">
                    {{#each organizations}}
                        {{> organizationOption}}
                    {{/each}}
                </select>
            </div>
        </div>
        
        <div class="form-group" id="opportunity">
            <label class="col-sm-3 control-label">
                What was the volunteer opportunity named?
            </label>
            <div class="col-sm-4">
                <select class="form-control" id="opportunitySelect">
                    {{#each opportunities}}
                        {{> opportunityOption}}
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                How long did you volunteer?
            </label>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </span>
                    <span id="durationContainer">
                        <input type="text" class="form-control duration-picker" id="volunteerDuration">
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
            </label>
            <div class="col-sm-8">
                <a href="#" id="submit" class="btn btn-primary btn-outline">
                    Submit
                </a>
                <span style="visibility:hidden">__</span>
                Most organizations approve credits within 2-4 days of submitting
            </div>
        </div>
    </form>
</template>

<template name="organizationOption">
    <option value="{{id}}" disabled="{{disabled}}">{{name}} {{noOpportunities}}</option>
</template>

<template name="opportunityOption">
    <option value="{{id}}">{{name}} ({{date}})</option>
</template>