<template name="accountSettings">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="at-form">

                <div class="at-title">
                    <h3>Account Settings</h3>
                </div>

                <div class="at-pwd-form">
                    <form class="ui large form" action="#" id="changesForm">

                        <div class="at-input field">
                            <label>Name</label>
                            <input autocorrect="off" autocapitalize="none" placeholder="Name" class="form-control" id="name" type="text">
                        </div>
                        <br>
                        <a class="changePwd-link" href="/change-password">Click here to change password</a>
                        <br>
                        <br>
                        <button id="save" class="at-btn submit btn btn-lg btn-block btn-default" type="submit">
                            Save Changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>