body {
  background: #f7f7f7;
}

.bold {
  font-weight: bold;
}

.fill-parent {
  width: 100%;
}

@media(min-width:320px) {
  .display-very-small {
    display: none;
  }
}

.date-picker {
  width:200px;
}

select:disabled {
  background-color: rgb(235, 235, 228) !important;
  color: rgb(84,84,84);
}