<template name="layoutbackup">
    {{> Template.dynamic template=nav}}
    <div style="background-image: url(/images/header.jpg); min-height:200px; padding-top:20px;">
        <div class="container">
            <h1 class="top-heading">
                {{attr.title}}
                <br>
                <small class="top-subheading">
                    {{attr.subtitle}}
                </small>
            </h1>
        </div>
    </div>
    <div class="container" style="padding-top: 25px;">
        {{> Template.dynamic template=content}}
    </div>
    {{> Template.dynamic template=extra}}
</template>