body {
    margin: 5em 4em 0 4em;
    background: #f7f7f7;
}

.ui.menu {
    padding-top: 7px;
    margin: 3em 0;
    background: red;
    min-height: 100px;
}

.ui.menu:last-child {
    margin-bottom: 110px;
}