<template name="features">
    <div class="arrow-box">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-map-marker text-primary fa-4x media-object" style="padding-right:25px;"></i>
            </div>

            <div class="media-body">
                <h4 class="media-heading">Find Volunteer Opportunities</h4>
                Big Thanks allows you to find volunteer opportunities near you, across the county.
                These opportunities come from many different organizations, including libraries, schools, and even the city and county governments.
                An option to search by location is available to find volunteer opportunities in a convenient location.

            </div>

            <div class="media-right">
                <img class="media-object image-resize" src="http://placehold.it/64x64">
            </div>
        </div>
    </div>
    <div class="arrow-box">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-gift fa-4x text-primary media-object" style="padding-right:25px;"></i>
            </div>

            <div class="media-body">
                <h4 class="media-heading">Earn Credits</h4>
                Based on the amount of time you spend volunteering, you can earn credits which can be redeemed.
                Every one minute of volunteering = 1 credit earned. These credits can be used to purchase various items.
                Many ways to earn credits include volunteering at libraries, schools, etc.
            </div>

            <div class="media-right">
                <img class="media-object" style="width: 64px; height: 64px;" src="http://placehold.it/64x64">
            </div>
        </div>
    </div>
    <div class="arrow-box">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-check text-primary fa-4x media-object" style="padding-right:25px;"></i>
            </div>

            <div class="media-body">
                <h4 class="media-heading">Get Validation</h4>
                After volunteering, you can send a “validation request” to the organization.
                The organization will then see your name and time volunteered.
                If this request is validated by the organization, the credits will be added into your account and can then be redeemed.
            </div>

            <div class="media-right">
                <img class="media-object" style="width: 64px; height: 64px;" src="http://placehold.it/64x64">
            </div>
        </div>
    </div>
    <div class="arrow-box-2">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-shopping-cart text-primary fa-4x media-object" style="padding-right:25px;"></i>
            </div>

            <div class="media-body">
                <h4 class="media-heading">Redeem</h4>
                After earning credits, you can redeem them to purchase various items such as e-vouchers, coupons, etc.
                These items are sponsored (donated to the county) by various local companies.
                Examples of available items include bus passes, coupons for local stores, and surplus items.
            </div>

            <div class="media-right">
                <img class="media-object" style="width: 64px; height: 64px;" src="http://placehold.it/64x64">
            </div>
        </div>
    </div>
</template>