<template name="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-push-9">
                <form>
                    <legend>Contact Details</legend>
                    <address>
                        Phone: Not available
                    </address>
                    <address>
                        Email: <a id="contact-email"></a>
                    </address>
                </form>
            </div>

            <div class="col-md-9 col-md-pull-3">
                <div class="well well-sm">
                    <div class="alert alert-danger" id="fill-all" style="display:none;" role="alert">
                        Please fill all fields to continue.
                    </div>
                    <form class="ui large form" action="#" id="contactForm" style="margin: 0;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Name
                                    </label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email Address
                                    </label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        Subject
                                    </label>
                                    <input type="text" class="form-control" id="subject">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Message</label>
                                    <textarea id="message" class="form-control" rows="9" cols="25"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button id="submit-btn" class="at-btn submit btn btn-primary btn-outline pull-right" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>