<template name="organizationDetails">
    <div class="modal fade" tabindex="-1" role="dialog" id="organizationModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-btn" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Organization Information</h4>
                </div>
                <div class="modal-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img id="organization_modal_logo" class="media-object" src="http://placehold.it/300x300" style="width:200px; height:200px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" id="organization_modal_name">Organization 1</h4>
                            <br>
                            <b>Description: </b>
                            <span id="organization_modal_description">We are the library of San Mateo and we offer books and luggage</span>
                            <br><br>

                            <b>Website: </b>
                            <a id="organization_modal_website" href="#">http://example.com</a>
                            <br><br>

                            <b>Email Address: </b>
                            <a id="organization_modal_email" href="#">example@example.com</a>
                            <br><br>

                            <b>Length: </b>
                            <span id="organization_modal_name"></span>
                            <br><br>

                            <b>Location: </b>
                            <span id="organization_modal_name"></span>
                            <br><br>

                            <b>Organizer: </b>
                            <span id="organization_modal_name"></span>
                            <br><br>

                            <b>Contact: </b>
                            <span id="organization_modal_name"></span>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#organizationModal").modal()
    </script>
</template>