<template name="home">
    <div class="home-page">
        {{> publicNav}}

        <header id="top-header" style="min-height:1000px;">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">Big Thanks</h1>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolorum incidunt laborum maiores tenetur unde. Cupiditate delectus deleniti, dicta ducimus earum est impedit possimus provident, quas quidem soluta vel? Ut?</p>
                    <a href="#features" class="btn btn-primary btn-rounded btn-xlarge page-scroll">Learn More</a>
                </div>
            </div>
        </header>

        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Features</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
                            <h3>Find Volunteer Opportunities</h3>
                            <p class="text-muted">Find unique volunteer opportunities near you.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-check text-primary sr-icons"></i>
                            <h3>Get Validated</h3>
                            <p class="text-muted">After volunteering, the organizer will validate your credits.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-clock-o text-primary sr-icons"></i>
                            <h3>Earn Credits</h3>
                            <p class="text-muted">Credits are earned based on the amount of time volunteered.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-shopping-cart text-primary sr-icons"></i>
                            <h3>Redeem</h3>
                            <p class="text-muted">Credits can be redeemed for e-vouchers, coupons, etc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" style="padding-top:25px;">
                <a href="/features" class="page-scroll btn btn-default btn-xl sr-button">More Details</a>
            </div>
        </section>

        <aside class="bg-dark">
            <div class="container text-center">
                <div class="call-to-action">
                    <h2>Get Started Now!</h2>
                    <a href="/sign-up" class="btn btn-default-borderless btn-rounded btn-xlarge page-scroll sr-button">Sign Up</a>
                </div>
            </div>
        </aside>

        <section class="bg-primary-faded" id="business">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Business Opportunities</h2>
                        <hr class="light">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-users sr-icons-2"></i>
                            <h3>Volunteer Opportunities</h3>
                            <p class="text-faded">Non-profits and other organizations can find more volunteers</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-shopping-cart sr-icons-2"></i>
                            <h3>Sponsor Items</h3>
                            <p class="text-faded">Companies can sponsor items which can be purchased by users using credits.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" style="padding-top:25px;">
                <a href="/business" class="page-scroll btn btn-default btn-xl sr-button">More Details</a>
            </div>
        </section>

        {{> Template.dynamic template=extra}}
    </div>
</template>