<template name="dashboard">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-offset-0 col-xs-offset-2">
            <div class="visible-xs-block visible-sm-block">
                <br>
            </div>
            <h2 id="welcomeLabel" style="display:inline-block; padding-right: 50px">Welcome, {{currentUser.profile.name}}</h2>
            <br>
            <span class="small-title" style="padding-right: 50px;" id="infoLabel">Total hours volunteered: {{currentUser.profile.totalHours}}</span>
            <br>
            <span class="small-title">Current credits available: {{currentUser.profile.credits}}</span>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-offset-0 col-xs-offset-2">
            <div class="visible-xs-block visible-sm-block">
                <br>
            </div>
            <div id="side-btn-group">
                <a class="btn btn-primary fill-parent bold" href="/volunteer-opportunities">Find volunteer opportunites</a>
                <br>
                <br>
                <a class="btn btn-primary fill-parent bold" href="/user/request-credits">Request validation of credits</a>
            </div>
            <div class="visible-xs-block visible-sm-block">
                <br>
            </div>
        </div>
    </div>
    <br>

    <div class="responsive-xs" id="historyTable" style="display:inline-block;">
        {{> reactiveTable settings=historyTable}}
    </div>
</template>