<template name="dashboard">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-offset-0 col-xs-offset-2">
            <div class="visible-xs-block visible-sm-block">
                <br>
            </div>
            <h2 id="welcomeLabel" style="display:inline-block; padding-right: 50px">Welcome, {{currentUser.profile.name}}</h2>
            <br>
            <div id="infoLabel" style="display:inline-block; padding-right: 50px">
                <span class="small-title">Total hours volunteered: {{currentUser.profile.totalHours}}</span>
                <br>
                <span class="small-title">Current credits available: {{currentUser.profile.credits}}</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-offset-0 col-xs-offset-2">
            <div class="visible-xs-block visible-sm-block">
                <br>
            </div>
            <div id="side-btn-group" class="btn-group-vertical" role="group">

                <a type="button" class="btn btn-primary bold btn-outline"
                        href="/user/volunteer-opportunities">Find volunteer opportunites</a>
                <a type="button" class="btn btn-primary bold btn-outline"
                        href="/user/request-credits">Request validation of credits</a>
            </div>
            <div class="visible-xs-block visible-sm-block">
                <br>
            </div>
        </div>
    </div>
    <br>

    <div id="table-responsive-xs" class="history-table" style="display:inline-block;">
        {{> reactiveTable settings=historyTable}}
    </div>
</template>